@import url('https://fonts.googleapis.com/css?family=Nunito:700|Great+Vibes|Open+Sans:400');

hmtl, body {
	background-color: #17161b;
	color: #ffffff;
	font-family: "Open Sans", sans-serif;
	font-size: 14pt;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

a {
	color: #c5b65e;
	text-decoration: none;
}
a:hover {
	color: #d1c3a5;
}


small {
	font-size: 0.8em;
	color: #e4c2f3;
}

p {
	margin-top: 0;
}

ul {
	padding-left: 20px;
}
h3 {
	color: #9e7f3d;
}

header {
	background-color: #43375f;
	padding: 10px;
	line-height: 45px;
	font-family: 'Nunito', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

#logo {
	float: right;
	display: block;
	max-height: 45px;
	margin-right: 16px;
}

table td {
	vertical-align: top;
}

header > a {
	display: inline-block;
	color: #ffffff;
	text-decoration: none;
	font-size: 32px;
}
header > span {
	color: #e4c2f3;
}

#content {
	display: block;
	background-color: #2c2a36;
	padding-bottom: 40px;
}

.column {
	display: inline-block;
	width: 30%;
	padding: 0 1%;
	/*border-right: 1px solid #1a161b;*/
	vertical-align: top;
	padding-top: 40px;
}

.column:nth-child(3n) {
	border-right: 0;
}

footer {
	padding-bottom: 40px;
}

footer h1 {
	margin: 0;
	padding: 0;
	font-size: 2.0em;
	font-family: 'Great Vibes', serif;
	text-align: center;
}
footer h2 {
	font-size: 1.2em;
	margin: 0;
	padding: 0;
	text-align: center;
}

figure {
	padding: 0;
	margin: 0;
	width: 100%;
	text-align: center;
}
figure > img {
	width: 70%;
	max-width: 150px;
	border-radius: 50%;
	border: 5px solid #ffffff;
	box-shadow: 0 5px 5px rgba(0,0,0, 0.5);
}
figure > figcaption {
	display: none;
}

label {
	display: block;
	margin-top: 5px;
}
label > label {
	margin-left: 20px;
}

.progress {
	margin-top: 3px;
	width: 100%;
	height: 20px;
	background-color: #1a161b;
	border: 2px solid #1a161b;
}
.progress > div {
	height: 20px;
	background-color: #54375F;
	text-align: center;
}

@media (max-width: 1000px) {
	.column {
		width: 47%;
	}
}
@media (max-width: 700px) {
	.column {
		display: block;
		width: auto;
		border-right: 0;
	}
	.hide-sm {
		display: none;
	}
}