<footer class="container-fluid py-4">
	<div class="row">
		<div class="col-12 col-md-6 col-lg-4">
			<figure class="avatar">
				<img src="/assets/images/photo.jpg" alt="">
				<figcaption>Photo of Pascal Pohl looking to the right, a reflection of a screen in his glasses</figcaption>
			</figure>
			<h1 class="display-4 text-vibes text-center m-0">Pascal Pohl</h1>
			<p class="text-center m-0">aka. PakL</p>
		</div>
		<div class="col-12 col-md-6 col-lg-4">
			<p>I am a german web application developer, trained IT system electronics technician and passionate gamer.</p>
			<div style="word-spacing: 10px;text-align: center;">
				<a href="https://twitter.com/paklweb" target="_blank"><span class="icon-twitter"></span></a>
				<a href="https://facebook.com/PakL21" target="_blank"><span class="icon-facebook"></span></a>
				<a href="https://www.instagram.com/paklweb/" target="_blank"><span class="icon-instagram"></span></a>
				<a href="http://www.youtube.com/user/Pakl21" target="_blank"><span class="icon-youtube"></span></a>
				<a href="https://twitch.tv/pakl/" target="_blank"><span class="icon-twitch"></span></a>
				<a href="https://steamcommunity.com/id/pakl21/" target="_blank"><span class="icon-steam"></span></a>
				<a href="https://github.com/PakL" target="_blank"><span class="icon-github"></span></a>
				<a href="https://www.paypal.me/PakL" target="_blank"><span class="icon-paypal"></span></a>
			</div>
		</div>
		<div class="col-12 col-md-6 col-lg-4">
			<p>
				See also:<br>
				<a href="https://dieweltzockt.de" target="_blank">Die Welt Zockt</a>
			</p>
		</div>
	</div>
</footer>