<nav class="navbar navbar-expand-md navbar-dark bg-lighter">
	<a class="navbar-brand" href="/">
		<img src="/assets/images/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
		PakL.dev
	</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbar-main">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item"><a class="nav-link" href="/blog/">Blog</a></li>
		</ul>
		<span class="navbar-text hide-sm">Webdevelopment &bull; Gamer</span>
	</div>
</nav>