@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon-fonts/icomoon.eot?wv3hpz');
	src:  url('../fonts/icomoon-fonts/icomoon.eot?wv3hpz#iefix') format('embedded-opentype'),
	  url('../fonts/icomoon-fonts/icomoon.ttf?wv3hpz') format('truetype'),
	  url('../fonts/icomoon-fonts/icomoon.woff?wv3hpz') format('woff'),
	  url('../fonts/icomoon-fonts/icomoon.svg?wv3hpz#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
  
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
  
  .icon-facebook:before {
	content: "\eeef";
  }
  .icon-instagram:before {
	content: "\eef1";
  }
  .icon-twitter:before {
	content: "\eef5";
  }
  .icon-youtube:before {
	content: "\eefc";
  }
  .icon-twitch:before {
	content: "\eefe";
  }
  .icon-steam:before {
	content: "\ef0b";
  }
  .icon-github:before {
	content: "\ef0f";
  }
  .icon-paypal:before {
	content: "\ef37";
  }
  
  